/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #231E24;
    font-family: 'IBM Plex Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Bubblegum Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.hidden-header {
    display: none;
}

/* Header */

header {
    background-color: #78CB54;
    color: #78CB54;
    width: 100vw;
    min-height: 90px;
    padding: 0px .5rem;
    position: fixed;
    z-index: 99;
    box-shadow: 0 2px 2px #231E24;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    color: inherit;
}

#logo {
    color: #421305;
}

#main-menu {
    font-family: 'Bubblegum Sans', sans-serif;
    color: #421305;
}

#main-menu a {
    text-decoration: none;
}

#main-menu li {
    list-style-type: none;
    margin-top: 5px;
}

.current {
    border-bottom: 1px solid #421305;
    border-radius: 3px;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #78CB54;
    width: 100%;
    left: 0;
    padding: 0 .5rem;
    box-shadow: 0 2px 2px #421305;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1.5rem;
}
/* Main */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    padding: 0px .5rem;
}

/* Footer */
footer {
    background-color: #78CB54;
    color: #421305;
    width: 100vw;
    padding: 0px .5rem;
    position: relative;
    z-index: 99;
    box-shadow: 0 2px 2px #231E24;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}